<!DOCTYPE html>
<html ng-app="foodApp">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.0.4/fuse.min.js"></script>
<script src="massautocomplete.min.js"></script>
<link href="massautocomplete.theme.css" rel="stylesheet" type="text/css">
<head>
	<style>
		.under
		{
			border:1px solid #f00;
		}
		.above
		{
			border:1px solid #0f0;
		}
	</style>
</head>
<body ng-controller="foodCtrl">
	<table border="1" cellpadding="10">
       <thead>
         <tr>
		   <th>
		   </th>
           <th>
              Name
           </th>
           <th>
              Amount
           </th>
           <th>
              Unit
           </th>
           <th ng-repeat="nutrient in nutrients | orderBy:mySort">
              {{nutrient.value}} ({{nutrient.unit}})
           </th>
        </tr>
      </thead>
      <body>
         <tr ng-repeat="food in foods">
		  <td>
			 <button type="button" ng-click="removeFood($index)">X</button>
          </td>
           <td>
             {{ food.name }}
          </td>
          <td>
             <input type="text" ng-model="amount[$index]" placeholder="Amount" style="width:50px">
          </td>
          <td>
             <select ng-model="measure[$index]" style="width:50px">
			  <option ng-repeat="meas in getMeasures(food)" value="{{meas.eqv}}" >{{meas.label}}</option>
			</select>
          </td>
          <td ng-repeat="nutrient in nutrients | orderBy:mySort">
			{{getNutrient(food,nutrient.value, $parent.$index)}}
		  </td>
        </tr>
		<tr>
		<td style="border: none"></td>
		<td style="border: none"></td>
		<td style="border: none"></td>
		<td style="border: none"></td>
		<td ng-repeat="nutrient in nutrients  | orderBy:mySort" 
			ng-class="{'above':getDri(nutrient.id)&&getTotal(nutrient.value)>=getDri(nutrient.id),
			'under':getDri(nutrient.id)&&getTotal(nutrient.value)<getDri(nutrient.id)}">
			{{getTotal(nutrient.value)}}<span ng-if="getDri(nutrient.id)">/</span>{{getDri(nutrient.id)}}
		  </td>
		</tr>
      </body>
    </table>
	<div mass-autocomplete>
        <input ng-model="dirty.value" placeholder="Food Name"
               mass-autocomplete-item="ac_fuse_options">
      
	<!--<button type="button" ng-click="addFood()">Add</button>-->
	
	<select ng-model="group">
		<option ng-repeat="g in groups" value="{{g}}">{{g}}</option>
	</select>
	</div>
    <script>
	
	function loadJSON(file,callback) {

		var xobj = new XMLHttpRequest();
		xobj.overrideMimeType("application/json");
		xobj.open('GET', file, true);
		xobj.onreadystatechange = function() {
			if (xobj.readyState == 4 && xobj.status == "200") {
				callback(JSON.parse(xobj.responseText));
			}
		}
		xobj.send(null);
	}

    var app = angular.module("foodApp", ['ngSanitize', 'MassAutoComplete']);

	app.controller("foodCtrl", function($scope,$http,$timeout,$sce) {
	$scope.dirty = {}
	$scope.foods = [];
	$scope.amount = [];
	$scope.measure = [];
	$scope.group = [];


	loadJSON('foodNames.json',function(res){
		$scope.foodNames = res;
		$scope.fuzzySearch = new Fuse($scope.foodNames, {
		shouldSort: true,
		threshold: 0.6,
		location: 0,
		distance: 100,
		maxPatternLength: 32,
		minMatchCharLength: 1,
		keys: [
			"name"
		]
		});
	});
	loadJSON('nutrients.json',function(res){
		$scope.nutrients = res;
	});
	loadJSON('ndri.json',function(res){
		$scope.dri = res;
		let t = Object.keys($scope.dri[2]);
		t.shift();
		$scope.groups = t;
		$scope.group = $scope.groups[13];
		console.log('finished');
	});
	
	$timeout(function(){ $scope.$apply(); }, 10);

		
		
	$scope.addFood = function(){
		$http.get('https://api.nal.usda.gov/ndb/reports/?ndbno='+getId($scope.dirty.value)+'&type=f&format=json&api_key=PI7KYCiYgGsNdY5WYm3kkX0N4voMHdnvad1pRbjw')
			.then(function(response){
				$scope.dirty.value='';
				var food = response.data.report.food;
				var g = {"label":"g","eqv":1,"eunit":"g","qty":1,"value":0};
				food.nutrients[0].measures = [g, ...food.nutrients[0].measures];
				$scope.foods.push(food);
				
			});
	}; 

	$scope.getNutrient = function(a,b,i){
		var t = a.nutrients.find(f=>f.name === b);
		if(t && (!$scope.amount[i] || !$scope.measure[i])) return t.value;
		if(t) return Math.round($scope.amount[i] * $scope.measure[i] * t.value ) /100;
		return '--';
	}

	$scope.getTotal = function(a){
		return tot =  Math.round($scope.foods.map((f,i)=>$scope.getNutrient(f,a,i)).filter(f=>f!=='--').reduce((x,y)=>x+y,0)*100)/100;
	}

	$scope.getDri = function(a){
		if(!$scope.dri[a]) return null;
		return $scope.dri[a][$scope.group];
	}

	$scope.getMeasures = function(a){
		return a.nutrients[0].measures;
	}

	getId = function(a){
		var id = $scope.foodNames.find(f=>f.name === a).id;
		if(id.toString().length === 4) return '0'+id;
		return id;
	}
	
	$scope.removeFood = function(index){
		$scope.foods.splice(index, 1);
	};  
	  
	$scope.mySort = function(val) {
		   return (Object.keys($scope.dri).includes(val.id.toString())?0:1);
	};



	function highlight(str, term) {
	var highlight_regex = new RegExp('(' + term + ')', 'gi');
	return str.replace(highlight_regex,
		'<span class="highlight">$1</span>');
	};

	function fuzzy_suggest(term) {
	if (!term)
		return [];

	return $scope.fuzzySearch
		.search(term)
		.slice(0, 20)
		.map(function (i) {
		var val = i.name;
		return {
			value: val,
			label: $sce.trustAsHtml(highlight(val, term))
		};
		});
	}

	$scope.ac_fuse_options = {
		suggest: fuzzy_suggest,
		on_select: $scope.addFood
	};
	});
	</script>
</body>